body{
background: black;
}

.pokemon-card{
border: 1px solid red;
width: 7.5rem;
height: 7.5rem;
}

.pokemon-list{
display:flex;
flex-wrap:wrap;
gap: 2.5rem;

}

.pokemon-card-body{
display:hidden;

}